
data/raw_data/202400337_日水位.csv
data/raw_data/202400337_自記站日水位.csv
data/raw_data/214-河川水位測站位置圖現存站.csv
data/raw_data/246-地下水觀測井位置圖現存站.csv
data/raw_data/A8030101_11212_4.xml
data/raw_data/A8040101_11212_2.xml
data/raw_data/A8040201_11212.xml
data/raw_data/A8040401_11212.xml
data/raw_data/C-B0025-002.zip
data/raw_data/C-B0025-002/dy_Report_2015.xml
data/raw_data/C-B0025-002/dy_Report_2016.xml
data/raw_data/C-B0025-002/dy_Report_2017.xml
data/raw_data/C-B0025-002/dy_Report_2018.xml
data/raw_data/C-B0025-002/dy_Report_2019.xml
data/raw_data/C-B0025-002/dy_Report_2020.xml
data/raw_data/C-B0025-002/dy_Report_2021.xml
data/raw_data/C-B0025-002/dy_Report_2022.xml
data/raw_data/C-B0025-002/dy_Report_2023.xml
data/raw_data/C-B0025-002/file.csv
data/raw_data/C-B0025-002/manifest.csv
data/raw_data/C-B0025-002/schema-file.csv
data/raw_data/C-B0052-001.json
data/raw_data/E-A0073-002.zip
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1990.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1991.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1992.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1993.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1994.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1995.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1996.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1997.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1998.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-1999.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2000.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2001.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2002.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2003.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2004.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2005.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2006.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2007.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2008.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2009.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2010.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2011.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2012.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2013.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2014.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2015.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2016.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2017.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2018.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2019.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2020.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2021.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2022.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2023.xml
data/raw_data/E-A0073-002/CWA-EQ-Catalog-2024.xml
data/raw_data/E-A0073-002/file.csv
data/raw_data/E-A0073-002/manifest.csv
data/raw_data/E-A0073-002/schema-file.csv
data/raw_data/J0101-3.geojson
data/raw_data/J0201-5.geojson
data/raw_data/J0301-3-5_合併.geojson
data/raw_data/J0401-5.geojson
data/raw_data/J0501-5.geojson
data/raw_data/Taipei02_101年至112年使照.xml
data/raw_data/Taipei02_90年至100年使照.xml
data/raw_data/THSR.json
data/raw_data/TPLiquid_84.geojson
data/raw_data/TRA.json
data/raw_data/TRTC.json
data/raw_data/臺北市區界圖_20220915.zip
data/raw_data/臺北市區界圖_20220915/G97_A_CADIST_P.dbf
data/raw_data/臺北市區界圖_20220915/G97_A_CADIST_P.shp
data/raw_data/臺北市區界圖_20220915/G97_A_CADIST_P.shx
